.betterVanguard {
  float:left;
}

.betterVanguard a {
  text-decoration: none;
}

.betterVanguard li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  display: block;
  line-height: 1.125em;
  padding: 20px 10px 14px 10px;
  background-image: linear-gradient(to bottom, #fff, #D9D9D9);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.betterVanguard li:hover {
  background-image: linear-gradient(to top, #fff, #D9D9D9);
}